{{ define "slackBody" }}
⛈️ {{ len .Alerts.Firing }} Firing. ✅ {{ len .Alerts.Resolved }} Resolved.
{{- if gt (len .Alerts.Firing) 0 }}{{ with (index .Alerts.Firing 0) }}

{{ if .Annotations.runbook_url -}}
    🔧 <{{ .Annotations.runbook_url }}|Fix>
  {{- else -}}
    🔧 ~Fix~
  {{- end -}},
  {{- if .SilenceURL -}}
    🔕 <{{ .SilenceURL }}|Mute>
  {{- end -}},
  {{- if .DashboardURL -}}
    📊 <{{ .DashboardURL }}&from={{ .StartsAt.UnixMilli }}-5m&time={{ .StartsAt.UnixMilli }}&time.window=600000
    {{- range .Labels.SortedPairs -}}
      &var-{{ .Name }}={{ .Value }}
    {{- end -}}|Dashboard>
  {{- else -}}
    📊 ~Dashboard~
  {{- end -}},
  {{- if .PanelURL -}}
    📈 <{{ .PanelURL }}&from={{ .StartsAt.UnixMilli }}-5m&time={{ .StartsAt.UnixMilli }}&time.window=600000
    {{- range .Labels.SortedPairs -}}
      &var-{{ .Name }}={{ .Value }}
    {{- end -}}|Panel>
  {{- else -}}
    📈 ~Panel~
  {{- end -}},
  {{- if .Annotations.alert_url -}}
    ✏️ <{{ .Annotations.alert_url }}|Edit Alert>
  {{- else -}}
    ✏️ ~Edit Alert~
  {{- end }}


{{ if .Annotations.summary -}}
  *[{{ .Status }}] {{ .Annotations.summary }}*
{{- end }}

{{ if .Labels.author -}}
  *author:* {{ .Labels.author }}
{{ else -}}
    *author:* Up for adoption 🥺
{{ end }}

{{ if .Annotations.description -}}
  {{ .Annotations.description }}
{{- end }}
{{- end }}{{/* end with (index .Alerts.Firing 0) */}}
{{- end }}{{/* end gt (len .Alerts.Firing) 0 */}}
{{ if gt (len .Alerts.Firing) 0 }}

  ⛈️ *All {{ len .Alerts.Firing }} Firing*
  {{- range .Alerts.Firing }}

- {{ .Annotations.summary }} {{ if .PanelURL -}}
    (<{{ .PanelURL }}&from={{ .StartsAt.UnixMilli }}-5m&time={{ .StartsAt.UnixMilli }}&time.window=600000
    {{- range .Labels.SortedPairs -}}
      &var-{{ .Name }}={{ .Value }}
    {{- end -}}|ref>)
    {{- end }}

  {{- end }}
{{ end -}}
{{ if gt (len .Alerts.Resolved) 0 }}

  ✅ *All {{ len .Alerts.Resolved }} Resolved*
  {{- range .Alerts.Resolved }}

- {{ .Annotations.summary }} {{ if .PanelURL -}}
    (<{{ .PanelURL }}&from={{ .StartsAt.UnixMilli }}-5m&time={{ .StartsAt.UnixMilli }}&time.window=600000
    {{- range .Labels.SortedPairs -}}
      &var-{{ .Name }}={{ .Value }}
    {{- end -}}|ref>)
    {{- end }}

  {{- end }}
{{- end }}


{{ end }} {{/* end  (define slack body) */}}
